body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.nav {
    text-align: center;
    margin-bottom: 20px;
}

.nav button {
    background-color: darkblue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.nav button:hover {
    background-color: darkblue;
}

button {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: red;
}

button.delete {
    background-color: red;
}

button.delete:hover {
    background-color: red;
}

.item {
    padding: 10px;
    margin-bottom: 15px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#courseForm, #studentForm {
    margin-top: 20px;
}

#courseForm input, #studentForm input, #studentForm select {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#courseForm button, #studentForm button {
    padding: 10px 20px;
}
